In [1]:
a="krishna"

In [2]:
b=[1,2,3,"a"]

In [3]:
c=23.12

In [4]:
d=(2,3)

Below are varaibles
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [6]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

In [11]:
print("var1 : ",type(var1))
print("var2 : ",type(var2))
print("var3 : ",type(var3))
print("var4 : ",type(var4))

var1 :  <class 'str'>
var2 :  <class 'str'>
var3 :  <class 'list'>
var4 :  <class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

1. / is used for division

In [16]:
24/5

4.8

2. % is used to get remainder

In [18]:
24%7

3

3. // is used to get division value without decimals

In [17]:
24//7

3

4. ** is used as power

In [19]:
2**4

16

In [22]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

s=[1,2,3+4j,"sai",[a,b],(1,2),{a:"sa"},{2,3,4},9.78,10]

for i in s:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
(3+4j) <class 'complex'>
sai <class 'str'>
['krishna', [1, 2, 3, 'a']] <class 'list'>
(1, 2) <class 'tuple'>
{'krishna': 'sa'} <class 'dict'>
{2, 3, 4} <class 'set'>
9.78 <class 'float'>
10 <class 'int'>

In [5]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
a=24
b=4
c=0
while a%b==0:
    print("A is purely divisible by B")
    break
print(a//b)

A is purely divisible by B
6

In [2]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.
l = [2, 5, 9, 12, 15, 18, 21, 24, 27, 30,33, 36, 35, 42, 47, 48, 53, 54, 57, 60,63, 66, 69, 72, 75]
for i in l:
    if i % 3 == 0:
        print(i," is divisible by 3.")
    else:
        print(i," is not divisible by 3.")

2  is not divisible by 3.
5  is not divisible by 3.
9  is divisible by 3.
12  is divisible by 3.
15  is divisible by 3.
18  is divisible by 3.
21  is divisible by 3.
24  is divisible by 3.
27  is divisible by 3.
30  is divisible by 3.
33  is divisible by 3.
36  is divisible by 3.
35  is not divisible by 3.
42  is divisible by 3.
47  is not divisible by 3.
48  is divisible by 3.
53  is not divisible by 3.
54  is divisible by 3.
57  is divisible by 3.
60  is divisible by 3.
63  is divisible by 3.
66  is divisible by 3.
69  is divisible by 3.
72  is divisible by 3.
75  is divisible by 3.

In [ ]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

mutable objects are where we can assign new values to the indexes 
Example : List
Immutable objects are where we cannot assign new values to indexes
example : String